.bg-history {
  background-color: #1c1c1e;
  height: 95vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.header-content-history {
  align-self: flex-start;
  color: #ffffff;
  /* outline: 2px dashed red; */
  width: 100vw;
  height: 100px;
  padding: 50px 0 20px 370px;
}
