.assets-h5 {
  color: #ffffff;
  font-weight: bold;
  align-self: flex-start;
  margin: 0 0 20px 85px;
}
.assets-table {
  color: #ffffff;
  border-collapse: collapse;
  width: 1100px;
  text-align: center;
}
.assets-th {
  border-bottom: 2px solid #ff784c;
  border-top: 2px solid #ff784c;
  width: 15%;
  padding: 10px;
}
.assets-td {
  background-color: #ff794c15;
  padding: 10px;
  border-bottom: 1px solid #ff794cf6;
}

.assets-td-positive {
  background-color: plum;
  color: rgb(45, 156, 45);
}
.i-negative {
  color: rgb(240, 44, 44);
}
.coin-in-table {
  color: rgb(167, 166, 166);
  font-weight: bold;
}
.btn-add-actions,
.btn-edit-actions {
  width: 35px;
  height: 35px;
  color: #bcbec0;
  border-radius: 50px;
  background-color: transparent;
  border: none;
}
.btn-add-actions:hover,
.btn-edit-actions:hover {
  border: solid;
  background-color: #ff794c7e;
}
