.tabs-d,
.tab-b {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #ff794c3b;
  box-shadow: 0 0 1px rgba(#e06818ea, 0.15), 0 6px 12px 0 rgba(#e05718, 0.15);
  padding: 0.75rem;
  border-radius: 10px;
  * {
    z-index: 2;
  }
}
input[type='radio'] {
  display: none;
}
.tabb {
  display: flex;
  z-index: 5;
  align-items: center;
  height: 20px;
  width: 140px;
  font-size: 1.1rem;
  font-weight: bold;
  justify-content: center;
  cursor: pointer;
  transition: color 0.15s ease-in;
}
.tabbb {
  width: 170px;
  text-align: center;
  font-size: 1.1rem;
  padding-left: 30px;
  font-weight: bold;
}
// input[id='radio-d'] {
//   &:checked {
//     & + label {
//       // color: #e05b30;
//     }
//   }
// }
input[id='radi0-d'] {
  &:checked {
    & ~ .gilter-1 {
      transform: translateX(15%);
    }
  }
}
input[id='radio-b'] {
  &:checked {
    & ~ .gilder-1 {
      transform: translateX(105%);
    }
  }
}
.gilder-1 {
  top: 7.5%;
  position: absolute;
  display: flex;
  align-items: center;
  height: 85%;
  width: 150px;
  background-color: #e05c30fb;
  z-index: 0;
  border-radius: 10px;
  transition: 0.25s ease-out;
}

.bg-dashboard {
  background-color: #1c1c1e;
  height: 115vh;
  display: flex;
}
.main-content {
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.card-content {
  background-color: #000000;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.head-main {
  height: 15vh;
  display: flex;
}
.center-main {
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-group-select-chart {
  height: 45px;
  margin: 20px 0 0 50px;
  width: 350px;
  color: #ffffff;
}
.footer-main {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  waiting for adjust */
}
.left-inside-main {
  width: 40vw;
  display: flex;
  flex-flow: column;
  color: white;
}
.left-inside-main :is(h5) {
  color: #d0d1d2;
  font-weight: bold;
  margin: 20px 0 0 50px;
  padding: 10px;
}
.right-inside-main {
  width: 40vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.balance-main {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-weight: bold;
  gap: 20px;
}
.balance-main :is(h2) {
  font-weight: bold;
}
.percent-inside-balance {
  background-color: #30bb784d;
  width: 60px;
  height: 30px;
  text-align: center;
  color: #30bb78;
  border-radius: 50px;
  margin-bottom: 20px;
}
.percent-main {
  display: flex;
  width: 300px;
  height: 20px;
  margin-top: 0;
  gap: 10px;
  margin-left: 60px;
  color: #30bb78;
}
.time-inside-percent {
  color: #30bb78;
}
.add-new {
  background-color: #e05b30;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  border-color: transparent;
  margin-right: 60px;
  height: 40px;
}
.add-new:hover {
  background-color: #ff794c9f;
}
.content-center-main {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.text-center-main {
  color: #d0d1d2;
  text-align: center;
  font-weight: bold;
}
.add-new-1 {
  background-color: #e05b30;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  border-color: transparent;
  height: 40px;
  margin-top: 30px;
}
.add-new-1:hover {
  background-color: #ff794c9f;
}
.merket-trend {
  margin-top: 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.3rem;
}
