.state {
  width: 700px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.group-best,
.group-worst {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 250px;
  height: 100px;
  background: #ff794c1c;
  border: 1px solid rgba(255, 255, 255, 0.048);
}

.span-all,
.span-best,
.span-worst {
  font-size: 16px;
  font-weight: 500;
  color: gray;
}
.div-worst {
  margin-left: 10px;
}
