body {
  background: linear-gradient(221.27deg, #c56445 14%, #0c0c0d 56%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.section-home {
  display: flex;
  justify-content: center;
  color: aliceblue;
  margin-top: 150px;
}
h1 {
  font-size: 2.6rem;
}
.left-content-home {
  margin-top: 30px;
}

.explan-div {
  margin-top: 20px;
}
p {
  color: white;
}

.button {
  align-content: center;
  border-color: #ff784c;
  border-radius: 30px;
  height: 50px;
  width: 140px;
  background-color: transparent;
  margin-top: 30px;
  margin-left: 100px;
}

.button :is(a) {
  color: #ff784c;
  text-decoration-line: none;
  font-size: 1.8rem;
}

.button:hover {
  background-color: #ff784c;
}
.hover-a:hover {
  color: white;
  text-decoration-line: none;
  font-size: 1.8rem;
}
