.navbar-brand {
  font-weight: bold;
}
.link-dash-1,
.link-dash-2 {
  text-decoration-line: none;
  color: #ffffff;
  font-weight: 500;
  padding: 20px 10px;
  margin-left: 30px;
  height: 50px;
}
.link-dash-1:hover,
.link-dash-2:hover {
  color: rgb(216, 105, 53);
}
.link-dash-1-active,
.link-dash-2-active {
  text-decoration-line: none;
  padding: 20px 10px;
  color: #ffffff;
  margin-left: 30px;
  border-bottom: 3px solid #ff784c;
}
.link-dash-1-active:hover,
.link-dash-2-active:hover {
  color: antiquewhite;
  font-weight: 500;
}
/* Currency dropdown */
.menu1-trigger1 {
  color: #ffffff;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
}

.menu1 {
  background: #141414;
  color: white;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 50px;
  width: 200px;
  height: 150px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu1.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu1 li {
  display: flex;
  align-items: center;
  height: 40px;
}

.menu1 li a {
  text-decoration: none;
  color: #ffffff;
  padding: 15px 20px;
  display: block;
}

#input-private {
  font-weight: bold;
}
.thai-currency,
.usd-currency {
  border-radius: 50px;
  margin-left: 20px;
}
.cur-name {
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  margin-left: 25px;
}
.li-01:hover,
.li-02:hover {
  background-color: #ff794c59;
  width: 200px;
}

#input-private {
  margin-left: 10px;
}

/* User dropdown menu */
.menu2-trigger2 {
  color: #ffffff;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  margin-left: auto; /* Strictly for positioning */
  margin-right: 10px;
}

.menu2 {
  background: #141414;
  color: white;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  height: 150px;
  width: 200px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu2.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu2 ul li {
  display: flex;
  align-items: center;
  height: 40px;
}

.li-username {
  height: 40px;
  width: 200px;
  font-weight: 800;
  margin-left: 35px;
}
.li-1:hover,
.li-2:hover {
  background-color: #ff794c59;
  width: 200px;
}
.li-1-active,
.li-2-active {
  background-color: #ff794c59;
  width: 200px;
}

.menu2 li a {
  text-decoration: none;
  color: #ffffff;
  padding: 15px 20px;
  display: block;
}

.i-private {
  margin-right: 10px;
}

.img-private {
  border-radius: 50px;
}

.logout-div {
  margin-left: 20px;
}
