.transaction-detail-table {
  height: 60px;
  width: 1000px;
}
.transaction-detail-head {
  width: 600px;
}
.transaction-detail-head > th {
  font-weight: 400;
  color: #bcbec0;
}
.td-transaction-detial-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
